[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "*"
numpy = "*"
opencv-contrib-python = "*"
gunicorn = "*"
Jinja2 = ">=2.10.1"

[requires]
python_version = "3.6.8"